{% extends "base.html" %}
{% block content %}
<h2>Category List</h2>
<div class="row category-section">
    {% for category in category_list %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ category.title }}</h5>
            <p class="card-text">{{ category.description }}</p>
            <a href="{% url 'wiki:post_page' category_slug=category.slug %}" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}