{% extends "base.html" %}
{% block content %}
<div class="row category-section">
  <h2>Category List</h2>
  <hr>
  {% for category in category_list %}
  <div class="col-12 col-md-4 mb-4">
    <div class="card category-card">
      <img class="card-img" src="{{ category.feature_image.url }}" alt="{{ category.title }} card">
      <div class="card-img-overlay">
        <h4 class="card-title">{{ category.title }}</h4>
        <p class="card-text">{{ category.description }}</p>
        <a href="{% url 'wiki:post_page' category_slug=category.slug %}" class="btn btn-primary">View</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}