{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="intro">
            <h3>Welcome to A Blessed Turtle Wiki</h3>
            <p>A Blessed Turtle is built by the most passionate devs, who want to share part of their own self with incredible worlds, fantastic adventures and deep characters.</p>
            <p>Here you will find all the information available about all the projects developed by this amazing team. We really appreciate your curiosity!</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 index-container">
        <div class="first">
            <div class="text-container">
                <h3>Heart Gears</h3>
                <p>Lyra and Ying live a peaceful life in the mining town of Drilla, until they are attacked by terrifying creatures called Krans, and Ying's life hangs in the balance. Lyra must travel the Swan Islands in search of a way to save his life.</p>
            </div> 
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="Heart Gears logo">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 index-container">
        <div class="second">
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" alt="Heart Gears logo">
            <div class="text-container">
                <h3>Venatica</h3>
                <p>Lyra and Ying live a peaceful life in the mining town of Drilla, until they are attacked by terrifying creatures called Krans, and Ying's life hangs in the balance. Lyra must travel the Swan Islands in search of a way to save his life.</p>
            </div> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="index-container third">
            <h3>Check what's coming next...</h3>
        </div>
    </div>
</div>
{% endblock %}