{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="intro">
            <h3>Welcome to A Blessed Turtle Wiki</h3>
            <p>A Blessed Turtle is built by the most passionate devs, who want to share part of their own self with incredible worlds, fantastic adventures and deep characters.</p>
            <p>Here you will find all the information available about all the projects developed by this amazing team. We really appreciate your curiosity!</p>
        </div>
    </div>
</div>
<div class="row index-bg">
    <div class="col-12 index-container">
        <div class="first" style="background-image: url('{% static '/img/first_game_img.jpg' %}')">
            <div class="text-container">
                <h3>Alrescha</h3>
                <p>In Alrescha, we control Harp, a curious young fisherman who one day, in the depths of the ocean, finds a mysterious treasure that will set him on an adventure to find the truth behind the disappearance of his sister Duckie.</p>
            </div> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 index-container">
        <div class="second" style="background-image: url('{% static '/img/second_game_img.jpg' %}')">
            <div class="text-container">
                <h3>Heart Lights</h3>
                <p>Peace reigned in the kingdom of Krilla, until one fateful day, fearsome creatures emerged from the shadows and kidnapped the king. Now, the paladin of the kingdom must bring him back at any cost.</p>
            </div> 
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="index-container third">
            <h3>Check what's coming next...</h3>
        </div>
    </div>
</div>
{% endblock %}