{% extends "base.html" %}
{% block content %}
<h2>{{ category.title }}</h2>
<div class="col-12">
    <ul class="post-list">
        {% for post in post_list|dictsort:"title" %}
          <li>
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
            <strong class="post-like">
              {% if user.is_authenticated %}
              <form class="post-like" action="{% url 'wiki:post_list_like' post.slug %}" method="POST">
                  {% csrf_token %}
                  {% if liked %}
                  <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                          class="fas fa-heart"></i></button>
                  {% else %}
                  <button type="submit" name="blogpost_id" value="{{post.slug}}" class="btn-like"><i
                          class="far fa-heart"></i></button>
                  {% endif %}
              </form>
              {% else %}
              <span class="text-secondary"><i class="far fa-heart"></i></span>
              {% endif %}
              <!-- The number of likes goes before the closing strong tag -->
              <span class="text-secondary">{{ post.number_of_likes }} </span>
          </strong>
          </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}