{% extends "base.html" %}
{% block content %}
<div class="row post-section">
  <h2>{{ category.title }}</h2>
  <hr>
  <div class="col-12">
    <div class="post-list">
      {% for post in post_list|dictsort:"title" %}
      <div class="col-12">
        <div class="card post-card">
          <div class="card-body">
            <a href="{{ post.get_absolute_url }}" class="card-title">{{ post.title }}</a>
            <p class="card-text">{{ post.excerpt }}</p>
            {% if user.is_authenticated %}
            <a class="btn-edit" href="{% url 'wiki:edit_post' post_slug=post.slug %}">Edit</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}